# Bellevue University 
## DSC540-T302 Data Preparation: Summer 2021
### Yograj Karki 
Week 3 & 4 Assignments <br>
Activity 7 <br>
06/26/2021

In this activity, you have been given a Wikipedia page where you have the
GDP of all countries listed. You have been asked to create three Data‐
Frames from the three sources mentioned in the page (https://en.wikipedia.
org/wiki/List_of_countries_by_GDP_(nominal)):
You will have to do the following:

1. Open the page in a separate Chrome/Firefox
tab and use something like an Inspect
Element tool to view the source HTML and
understand its structure

In [1]:
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

2. Read the page using bs4

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"
r = requests.get(url)

soup = BeautifulSoup(r.content, "html.parser")

3. Find the table structure you will need to deal
with (how many tables there are?)

In [3]:
all_tables = soup.find_all("table")
len(all_tables)

7

4. Find the right table using bs4

In [4]:
gdp_table = soup.find("table", class_="wikitable")

# Table parser
df = pd.read_html(str(gdp_table))[0]
df.head()

  Country (or territory)         Subregion    Region      IMF[1]             \
  Country (or territory)         Subregion    Region    Estimate       Year
0         United States†  Northern America  Americas  22675271.0       2021
1                 China†      Eastern Asia      Asia  16642318.0  [n 2]2021
2                 Japan†      Eastern Asia      Asia   5378136.0       2021
3               Germany†    Western Europe    Europe   4319286.0       2021
4        United Kingdom†   Northern Europe    Europe   3124650.0       2021

     UN[12]            World Bank[13]
   Estimate       Year       Estimate    Year
0  21433226       2020     20936600.0  2020.0
1  14342933  [n 3]2020     14722731.0  2020.0
2   5082465       2020      5064873.0  2019.0
3   3861123       2020      3806060.0  2020.0
4   2826441       2020      2707744.0  2020.0

In [5]:
df.shape

(213, 9)

5. Separate the source names and their
corresponding data

In [6]:
# getting tr tags
columns = gdp_table.tbody.findAll('tr')[0]
col_heads = [th for th in columns.findAll('th')]
# Noticed last three th are for sources
sources_only = col_heads[-3:]

len(sources_only)

3

6. Get the source names from the list of sources
you have created

In [7]:
# Preferred option
source_names = [(source.find("a")).get('title') for source in sources_only]
source_names

['International Monetary Fund', 'United Nations', 'World Bank']

In [8]:
# Alternatively
source_names = [source.findAll('a')[0].getText() for source in sources_only]
print(source_names)

['IMF', 'UN', 'World Bank']

7. Separate the header and data from the data
that you separated before for the first source
only, and then create a DataFrame using that

8. Repeat the last task for the other two data
sources

In [9]:
# Extracting all data rows

rows = gdp_table.tbody.findAll("tr")[2:]

# Listing data of each row as a list
data_rows = [[td.getText().strip() for td in tr.findAll('td')] for tr in rows]

# Inspecting the first element of data_rows
data_rows[0]

['United States†',
 'Northern America',
 'Americas',
 '22,675,271',
 '2021',
 '21,433,226',
 '2020',
 '20,936,600',
 '2020']

In [10]:
# Extracting column names

# There is estimate and year column for each data sources:
cols = ["Estimate","Year"]


sources_cols = []
for source in source_names:
    for _ in cols:
        a = str(source)+" "+ str(_)
        sources_cols.append(a)

# Inspecting sources_columns
sources_cols

['IMF Estimate',
 'IMF Year',
 'UN Estimate',
 'UN Year',
 'World Bank Estimate',
 'World Bank Year']

In [11]:
general_cols = [th.getText().strip() for th in col_heads[:3]]

In [12]:
all_columns = general_cols + sources_cols
all_columns

['Country (or territory)',
 'Subregion',
 'Region',
 'IMF Estimate',
 'IMF Year',
 'UN Estimate',
 'UN Year',
 'World Bank Estimate',
 'World Bank Year']

In [13]:
# Finally creating the dataframe
df1 = pd.DataFrame(data_rows, columns = all_columns)

In [14]:
df1.head()

,Country (or territory),Subregion,Region,IMF Estimate,IMF Year,UN Estimate,UN Year,World Bank Estimate,World Bank Year
0,United States†,Northern America,Americas,"22,675,271",2021,"21,433,226",2020,"20,936,600",2020
1,China†,Eastern Asia,Asia,"16,642,318",[n 2]2021,"14,342,933",[n 3]2020,"14,722,731",2020
2,Japan†,Eastern Asia,Asia,"5,378,136",2021,"5,082,465",2020,"5,064,873",2019
3,Germany†,Western Europe,Europe,"4,319,286",2021,"3,861,123",2020,"3,806,060",2020
4,United Kingdom†,Northern Europe,Europe,"3,124,650",2021,"2,826,441",2020,"2,707,744",2020