# Bellevue University 
## DSC540-T302 Data Preparation: Summer 2021
### Yograj Karki 
Week 5 & 6 Assignments <br>
Data cleaning and transformation<br>
07/07/2021

In [1]:
# importing necessary packages
import pandas as pd
import numpy as np

In [2]:
# Loading the csv file
df = pd.read_csv("candyhierarchy2017.csv", encoding= "latin-1" )
df.head(5)

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [3]:
# setting the Internal ID column as the Index
df.set_index('Internal ID', inplace = True)

In [4]:
# drop duplicates if any.
df.drop_duplicates(inplace=True)

In [5]:
list(df.columns)

['Q1: GOING OUT?',
 'Q2: GENDER',
 'Q3: AGE',
 'Q4: COUNTRY',
 'Q5: STATE, PROVINCE, COUNTY, ETC',
 'Q6 | 100 Grand Bar',
 'Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)',
 'Q6 | Any full-sized candy bar',
 'Q6 | Black Jacks',
 'Q6 | Bonkers (the candy)',
 'Q6 | Bonkers (the board game)',
 'Q6 | Bottle Caps',
 "Q6 | Box'o'Raisins",
 'Q6 | Broken glow stick',
 'Q6 | Butterfinger',
 'Q6 | Cadbury Creme Eggs',
 'Q6 | Candy Corn',
 'Q6 | Candy that is clearly just the stuff given out for free at restaurants',
 'Q6 | Caramellos',
 'Q6 | Cash, or other forms of legal tender',
 'Q6 | Chardonnay',
 'Q6 | Chick-o-Sticks (we donÃ•t know what that is)',
 'Q6 | Chiclets',
 'Q6 | Coffee Crisp',
 'Q6 | Creepy Religious comics/Chick Tracts',
 'Q6 | Dental paraphenalia',
 'Q6 | Dots',
 'Q6 | Dove Bars',
 'Q6 | Fuzzy Peaches',
 'Q6 | Generic Brand Acetaminophen',
 'Q6 | Glow sticks',
 'Q6 | Goo Goo Clusters',
 "Q6 | Good N' Plenty",
 'Q6 | Gum from baseball cards',
 'Q6 | Gummy Bears straight up',
 'Q6 | Hard Candy',
 'Q6 | Healthy Fruit',
 'Q6 | Heath Bar',
 "Q6 | Hershey's Dark Chocolate",
 'Q6 | HersheyÃ•s Milk Chocolate',
 "Q6 | Hershey's Kisses",
 'Q6 | Hugs (actual physical hugs)',
 'Q6 | Jolly Rancher (bad flavor)',
 'Q6 | Jolly Ranchers (good flavor)',
 'Q6 | JoyJoy (Mit Iodine!)',
 'Q6 | Junior Mints',
 'Q6 | Senior Mints',
 'Q6 | Kale smoothie',
 'Q6 | Kinder Happy Hippo',
 'Q6 | Kit Kat',
 'Q6 | LaffyTaffy',
 'Q6 | LemonHeads',
 'Q6 | Licorice (not black)',
 'Q6 | Licorice (yes black)',
 'Q6 | Lindt Truffle',
 'Q6 | Lollipops',
 'Q6 | Mars',
 'Q6 | Maynards',
 'Q6 | Mike and Ike',
 'Q6 | Milk Duds',
 'Q6 | Milky Way',
 'Q6 | Regular M&Ms',
 'Q6 | Peanut M&MÃ•s',
 "Q6 | Blue M&M's",
 "Q6 | Red M&M's",
 "Q6 | Green Party M&M's",
 "Q6 | Independent M&M's",
 "Q6 | Abstained from M&M'ing.",
 'Q6 | Minibags of chips',
 'Q6 | Mint Kisses',
 'Q6 | Mint Juleps',
 'Q6 | Mr. Goodbar',
 'Q6 | Necco Wafers',
 'Q6 | Nerds',
 'Q6 | Nestle Crunch',
 "Q6 | Now'n'Laters",
 'Q6 | Peeps',
 'Q6 | Pencils',
 'Q6 | Pixy Stix',
 'Q6 | Real Housewives of Orange County Season 9 Blue-Ray',
 'Q6 | ReeseÃ•s Peanut Butter Cups',
 "Q6 | Reese's Pieces",
 'Q6 | Reggie Jackson Bar',
 'Q6 | Rolos',
 'Q6 | Sandwich-sized bags filled with BooBerry Crunch',
 'Q6 | Skittles',
 'Q6 | Smarties (American)',
 'Q6 | Smarties (Commonwealth)',
 'Q6 | Snickers',
 'Q6 | Sourpatch Kids (i.e. abominations of nature)',
 'Q6 | Spotted Dick',
 'Q6 | Starburst',
 'Q6 | Sweet Tarts',
 'Q6 | Swedish Fish',
 'Q6 | Sweetums (a friend to diabetes)',
 'Q6 | Take 5',
 'Q6 | Tic Tacs',
 'Q6 | Those odd marshmallow circus peanut things',
 'Q6 | Three Musketeers',
 'Q6 | Tolberone something or other',
 'Q6 | Trail Mix',
 'Q6 | Twix',
 'Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein',
 'Q6 | Vicodin',
 'Q6 | Whatchamacallit Bars',
 'Q6 | White Bread',
 'Q6 | Whole Wheat anything',
 'Q6 | York Peppermint Patties',
 'Q7: JOY OTHER',
 'Q8: DESPAIR OTHER',
 'Q9: OTHER COMMENTS',
 'Q10: DRESS',
 'Unnamed: 113',
 'Q11: DAY',
 'Q12: MEDIA [Daily Dish]',
 'Q12: MEDIA [Science]',
 'Q12: MEDIA [ESPN]',
 'Q12: MEDIA [Yahoo]',
 'Click Coordinates (x, y)']

## Handling missing values

In [6]:
df.isnull().sum()

Q1: GOING OUT?                        90
Q2: GENDER                            18
Q3: AGE                               55
Q4: COUNTRY                           35
Q5: STATE, PROVINCE, COUNTY, ETC      71
                                    ...
Q12: MEDIA [Daily Dish]             2340
Q12: MEDIA [Science]                1063
Q12: MEDIA [ESPN]                   2326
Q12: MEDIA [Yahoo]                  2358
Click Coordinates (x, y)             820
Length: 119, dtype: int64

In [7]:
#d f["Q1: GOING OUT?"].describe()
df["Q1: GOING OUT?"].isnull().sum()

90

In [8]:
# Missing values replaced as subject didn't want to answer
df["Q1: GOING OUT?"].fillna(value="I'd rather not say", inplace=True)

In [9]:
df["Q2: GENDER"].fillna(value="I'd rather not say", inplace=True)

In [10]:
df["Q3: AGE"].unique()

array([nan, '44', '49', '40', '23', '53', '33', '43', '56', '64', '37',
       '59', '48', '54', '36', '45', '25', '34', '35', '38', '58', '50',
       '47', '16', '52', '63', '65', '41', '27', '31', '61', '46', '42',
       '62', '29', '39', '32', '28', '69', '67', '30', '22', '26', '51',
       '70', '24', '18', '19', 'Old enough', '57', '60', '66', '12',
       'Many', '55', '72', '?', '21', '11', 'no', '9', '68', '20', '6',
       '10', '71', '90', '13', '45-55', '312', '99', '7', 'hahahahaha',
       '88', '39.4', '74', '102', 'older than dirt', '17', '15', '8',
       '75', '5u', 'Enough', 'See question 2', '24-50', '14', 'Over 50',
       '100', '76', '1000', 'sixty-nine', '46 Halloweens.', 'ancient',
       '77', 'OLD', 'old', '73', '70 1/2', '1', 'MY NAME JEFF', '4',
       '59 on the day after Halloween', 'old enough', 'your mom',
       'I can remember when Java was a cool new language', '60+'],
      dtype=object)

In [11]:
# Removing Strings from Age column
df["Q3: AGE"]= df["Q3: AGE"].astype(str)
df["Q3: AGE"] = df["Q3: AGE"].str.replace('\D+', '')
df["Q3: AGE"] = pd.to_numeric(df["Q3: AGE"], errors='coerce') # coerce - invalid parsing will be set as NaN
df["Q3: AGE"].isnull().sum()

71

In [12]:
# Replacing certain values manually
df["Q3: AGE"] = df["Q3: AGE"].replace(2450, np.mean((24,50)))
df["Q3: AGE"] = df["Q3: AGE"].replace(4555, np.mean((45,55)))
df["Q3: AGE"] = df["Q3: AGE"].replace(394, 39)
df["Q3: AGE"] = df["Q3: AGE"].replace(7012, 71)

# Dealing with outliers
df["Q3: AGE"] = df["Q3: AGE"].mask((df["Q3: AGE"] > 100), np.nan)
df["Q3: AGE"] = df["Q3: AGE"].mask((df["Q3: AGE"] < 5), np.nan)

In [13]:
# Filling null values
mean_age = df["Q3: AGE"].mean(skipna=True)
df["Q3: AGE"].fillna(value=mean_age, inplace=True)
df["Q3: AGE"] = df["Q3: AGE"].round(0).astype(int)

### Country column

In [14]:
df["Q4: COUNTRY"].unique()

array([nan, 'USA ', 'USA', 'us', 'usa', 'canada', 'Canada', 'Us', 'US',
       'Murica', 'United States', 'uk', 'United Kingdom', 'united states',
       'Usa', 'United States ', 'United staes',
       'United States of America', 'UAE', 'England', 'UK', 'canada ',
       'Mexico', 'United states', 'u.s.a.', 'USAUSAUSA', 'america', '35',
       'france', 'United States of America ', 'U.S.A.', 'finland',
       'unhinged states', 'Canada ', 'united states of america',
       'US of A', 'Unites States', 'The United States', 'North Carolina ',
       'Unied States', 'Netherlands', 'germany', 'Europe', 'Earth', 'U S',
       'u.s.', 'U.K. ', 'Costa Rica', 'The United States of America',
       'unite states', 'U.S.', '46', 'cascadia', 'Australia',
       'insanity lately', 'Greece', 'USA? Hard to tell anymore..',
       "'merica", 'usas', 'Pittsburgh', '45', 'United State', '32',
       'France', 'australia', 'A', 'Can', 'Canae', 'New York',
       'Trumpistan', 'Ireland', 'United Sates', 'Korea', 'California',
       'Japan', 'USa', 'South africa',
       'I pretend to be from Canada, but I am really from the United States.',
       'Usa ', 'Uk', 'Iceland', 'Germany', 'Canada`', 'Scotland', 'UK ',
       'Denmark', 'United Stated', 'France ', 'Switzerland',
       'Ahem....Amerca', 'UD', 'Scotland ', 'South Korea', 'New Jersey',
       'CANADA', 'Indonesia', 'United ststes', 'America',
       'The Netherlands', 'United Statss', 'endland', 'Atlantis',
       'murrika', 'USA! USA! USA!', 'USAA', 'Alaska', 'united States ',
       'soviet canuckistan', 'N. America', 'Singapore', 'USSA', 'China',
       'Taiwan', 'Ireland ', 'hong kong', 'spain', 'Sweden', 'Hong Kong',
       'U.S. ', 'Narnia', 'u s a', 'United Statea', 'united ststes', '1',
       'subscribe to dm4uz3 on youtube', 'United kingdom',
       'USA USA USA!!!!', "I don't know anymore", 'Fear and Loathing'],
      dtype=object)

#### WOW.. It seems way too messy. So, i'm going to select United States of America only for this cleaning purpose.

In [15]:
# list of strings entered for USA country
usa = ["us", "usa", "u s" "united states","u.s.", "america", "states", "united states of america",\
       "unites states", "united staes", "united ststes", "unite states", "united sates" ]


df['Q4: COUNTRY']=df['Q4: COUNTRY'].str.lower() # making all strings lower case

# Replacing misspelled names with USA 
for element in df['Q4: COUNTRY']:
    if type(element) is not float:
        for u in usa:
            if u in element:
                df['Q4: COUNTRY'] = df['Q4: COUNTRY'].replace(element,'USA')

# Replacing all other country names to NaN               
for element in df['Q4: COUNTRY']:
    if type(element) is not float:
        if 'USA' not in element:
            df['Q4: COUNTRY'] = df['Q4: COUNTRY'].replace(element,np.NaN)               
                
df = df[pd.notnull(df['Q4: COUNTRY'])]

In [16]:
df['Q4: COUNTRY'].isnull().sum()

0

In [17]:
df.shape

(2031, 119)

### Group by

In [26]:
# let's see which gender like KitKat more
df.groupby("Q2: GENDER")['Q6 | Kit Kat'].value_counts()

Q2: GENDER          Q6 | Kit Kat
Female              JOY             421
                    MEH              80
                    DESPAIR          22
I'd rather not say  JOY              41
                    MEH               4
                    DESPAIR           1
Male                JOY             754
                    MEH             156
                    DESPAIR          23
Other               JOY              14
                    DESPAIR           3
                    MEH               3
Name: Q6 | Kit Kat, dtype: int64