# Bellevue University 
## DSC540-T302 Data Preparation: Summer 2021
### Yograj Karki 
Week 9 & 10 Assignments
#### Data Retrieval<br>
<br>

08/05/2021

1. Connect to petsDB and check whether the
connection has been successful.

In [1]:
# Loading library and establishing the connection with petsdb database.
import sqlite3
conn = sqlite3.connect("petsdb")

In [2]:
# Function to see if the connection is established.
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False
    
    
print(is_opened(conn))

2. Find the different age groups in the persons
database.

In [3]:
c = conn.cursor()
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("We have {} people aged {}".format(ppl, age))

3. Find the age group that has the maximum
number of people.

In [4]:
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("Highest number of people {} came from {} age group".format(ppl, age))
    break

4. Find the people who do not have a last name.

In [5]:
result = c.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in result:
    print(f"{row[0]} people do not have last name.")

5. Find out how many people have more than
one pet.

In [6]:
result = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in result:
    print("{} people have more than one pets.".format(row[0]))

6. Find out how many pets have received
treatment.

In [7]:
result = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in result:
    print(f"{row[0]} pets have received treatment.")

36 pets have received treatment.

7. Find out how many pets have received
treatment and the type of pet is known.

In [8]:
result = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in result:
    print("{} pets have received treatment and the type of pet is known.".format(row[0]))

16 pets have received treatment and the type of pet is known.

8. Find out how many pets are from the city
called east port.

In [9]:
result = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in result:
    print("{} pets are from East Port city.".format(row[0]))

49 pets are from East Port city.

9. Find out how many pets are from the city
called east port and who received a
treatment.

In [10]:
result = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in result:
    print(f"{row[0]} pets are from the city called east port and who received a treatment.")

11 pets are from the city called east port and who received a treatment.